%div.sidebar
  %div.user
    %p.user__name
      = current_user.name
    %p.icon
      = link_to root_path do
        %i.fa.fa-edit.fa-lg
      = link_to edit_user_registration_path do
        %i.fa.fa-cog.fa-lg
  = link_to root_path do
    %div.group-list
      %p.group-list__name グループ1
      %p.group-list__top-message まだメッセージはありません

= render "message"

