=render 'messages/sidebar', {groups: @group}

%div.group
  = link_to edit_group_path(@group.id) do
    %div.edit-button
      %p Edit
  %p.group__name
    = @group.name
  %p.group__member
    Member :
    - @group.users.each do |user|
      = user.name

%div.messages
  .chat{ id: "#{@last_message.id}"}
  = render 'messages/messages', {messages: @messages}

%div.input
  = form_for [@group, @message], html: {class: 'message-form'} do |f|
    = f.text_field :body, class: "message-form__text-field", placeholder: "type a message"
    %label.file-form
      %i.fa.fa-picture-o
      = f.file_field :image
    = f.submit 'Send', class: "send-button"
